<main class="bg-gradient-blues">
    <div class="container">
        <section class="row text-white align-items-lg-center mb-5">
            <article class="col-12 col-lg-5 main-article-text">
                <h1 class="fw-bold"><span class="just-barça-text">JUST BARÇA</span> is your team's reference website
                </h1>
                <p class="fs-5">Learn all about the football section of futbol club barcelona, vibrate with all
                    those unforgettable moments and remember every achievement and triumph. Feel free to follow us
                    in all our social networks.</p>
                <a class="btn btn-lg btn-primary text-white fw-bold" href="#services">Let's start!</a>
            </article>
            <article class="col-12 col-lg-7">
                <img src="../../assets/img/messi_main_page.png" alt="" class="img-fluid img-png-main">
            </article>
            <article class="col-12 col-lg-5 order-lg-1 main-article-text">
                <h1 class="fw-bold">Feel the colors more than ever!</h1>
                <p class="fs-5">Thousands of people visit us daily, we are the website with more fans in the world
                    for the best team in the world.
                    Share with all of them all the good moments and also the less good ones, but being always proud to
                    support
                    this awesome club.</p>
            </article>
            <article class="col-12 col-lg-7">
                <img src="../../assets/img/gavi.png" alt="" class="img-fluid img-png-main">
            </article>
        </section>


        <section id="services" class="row text-center min-vh-100 align-items-lg-center">
            <article id="legends" class="col-12 col-sm-6 col-lg-3">
                <div class="card card-services mx-auto mb-4" style="width: 18rem;">
                    <a [routerLink]="['history']">
                        <img src="../../assets/img/icon-shield.png" class="card-img-top bg-card-img" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">LEGENDS</h3>
                        </div>
                    </a>
                </div>
            </article>

            <article id="trophies" class="col-12 col-sm-6 col-lg-3">
                <div class="card card-services mx-auto mb-4" style="width: 18rem;">
                    <a routerLink="players">
                        <img src="../../assets/img/icon-trophy.png" class="card-img-top bg-card-img" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">THROPIES</h3>
                        </div>
                    </a>
                </div>
            </article>
            <article id="merchandising" class="col-12 col-sm-6 col-lg-3">
                <div class="card card-services mx-auto mb-4" style="width: 18rem;">
                    <a routerLink="players">
                        <img src="../../assets/img/icon-clothes.png" class="card-img-top bg-card-img" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">MERCHANDISING</h3>
                        </div>
                    </a>
                </div>
            </article>
            <article id="supporters" class="col-12 col-sm-6 col-lg-3">
                <div class="card card-services mx-auto mb-4" style="width: 18rem;">
                    <a routerLink="players">
                        <img src="../../assets/img/icon-supporters.png" class="card-img-top bg-card-img" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">SUPPORTERS</h3>
                        </div>
                    </a>
                </div>
            </article>
        </section>
    </div>
</main>